* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #b6e7ed, #b6bcf8); /* 渐变浅蓝色 */
    overflow-x: hidden; /* 不允许出现横向滚动条 */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden; /* 不允许出现横向滚动条 */
}

.top-row {
    display: flex;
    flex: 1;
}

.info {
    flex: 0 0 50%; /* 占据 1 单位 */
    padding: 20px;
   /* border-right: 1px solid #ddd;*/
    aspect-ratio: 16 / 9; /* 保持 16:9 比例 */
    border: 10px solid transparent; /* 边框宽度 */
    border-image: url('../image/panel.png') 30 stretch; /* 边框图 */
}

.line-chart {
    flex: 0 0 50%; /* 占据 1 单位 */
    padding: 20px;
    aspect-ratio: 16 / 9; /* 保持 16:9 比例 */
    border: 10px solid transparent; /* 边框宽度 */
    border-image: url('../image/panel.png') 30 stretch; /* 边框图 */
}

.bottom-row {
    display: flex;
    flex: 1;
}

.bar-chart {
    flex: 0 0 25%; /* 占据 1 单位 */
    padding: 20px;
    aspect-ratio: 16 / 9; /* 保持 16:9 比例 */
    border: 10px solid transparent; /* 边框宽度 */
    border-image: url('../image/panel.png') 30 stretch; /* 边框图 */
}
.word-cloud{
    flex: 0 0 25%; /* 占据 1 单位 */
    padding: 20px;
    aspect-ratio: 16 / 9; /* 保持 16:9 比例 */
    border: 10px solid transparent; /* 边框宽度 */
    border-image: url('../image/panel.png') 30 stretch; /* 边框图 */
    
}
.line-chart:last-child {
    flex: 0 0 50%; /* 最后一个折线图占据 2 单位 */
    border: 10px solid transparent; /* 边框宽度 */
    border-image: url('../image/panel.png') 30 stretch; /* 边框图 */
}

@media (max-width: 800px) {
    .container {
        flex-direction: column; /* 小屏幕时竖向排列 */
    }

    .top-row, .bottom-row {
        flex-direction: column; /* 子行竖向排列 */
        flex: none; /* 不占据剩余空间 */
    }

    .info, .line-chart, .bar-chart, .word-cloud {
        flex: 1 1 100%; /* 每个部分占据 100% 宽度 */
        min-height: 200px; /* 设置最小高度 */
        aspect-ratio: 16 / 9; /* 保持 16:9 比例 */
    }

    .line-chart:last-child {
        flex: 1 1 100%; /* 最后一个折线图也占据 100% */
    }
}
