
  
  html,body,main {
    height: 100vh;
    width: 100%;
    background-image: url(./image/5.jpg);/*更换了背景图*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* 将背景图像在元素中垂直和水平方向上居中对齐 */
  }
  main{
      margin: 0;
      padding: 0;
      height: 0%;
  }
  
  body {
    font: 14px/1.5 Arial;
  }
  
  a {
    text-decoration: none;
    color: #681664;
  }
  
  ul,li{
    list-style: none;
  }

  .errormsg {
    color: black;
}