

body, html {  
    height: 100%; /* 确保页面有完整的高度 */  
    margin: 0;  
    padding: 0;  
    position: relative; /* 为绝对定位的子元素提供参照 */  
    display: flex; /* 使用Flexbox布局 */  
}  
 

.container {
    width: 100vw; /* 使用视口宽度 */
    height: 100vh; /* 使用视口高度 */
    display: flex; /* 使用 Flexbox */
    overflow: hidden; /* 防止内容溢出容器 */
}

.content-area {  
    flex: 0 0 85%; /* 固定为六分之五的宽度
    display: flex;  
    flex-direction: column; /* 垂直排列子元素 */  
    overflow: hidden; /* 防止内容溢出容器 */  
}  

.title-container {  
    height: 33.33%; /* 页面高度的三分之一 */  
    width: 100%; /* 页面宽度的六分之五 */  
    right: 1; /* 贴近页面右侧 */  
    overflow: auto; /* 允许内容超出时显示滚动条 */  
    position: relative; /* 如果需要定位内部元素 */  
    border: 1px solid #ccc; /* 可选：为盒子添加边框以便观察 */  
}  
  

  
.title {  
    /* 这里也不需要特定的样式，除非你想对<p>标签的显示进行进一步的自定义 */  
    margin: 0; /* 移除默认的外边距 */  
    white-space: pre-wrap; /* 保留空白符序列，并允许文本换行（虽然在这个例子中我们主要关注滚动条） */  
    word-wrap: break-word; /* 如果需要，可以在长单词或URL处换行 */  
}
.options-box{
     height: 66.66%; 
     width: 100%; 
     border: 0px ;
     display: flex;             /* 使用 Flexbox */
     flex-direction: column;    /* 垂直排列子元素 */
     justify-content: center;   /* 垂直居中 */
     align-items: stretch;      /* 让子元素填满宽度 */
     overflow-y: auto;         /* 如果内容超出容器，则显示滚动条 */
     
}

.option-box {
    flex: 1;                   /* 平均分配可用空间 */
    margin: 5px 0;            /* 垂直间距 */
    padding: 10px;            /* 内边距 */
    background-color: #f9f9f9; /* 选项背景色 */
    border: 1px solid #ccc;   /* 边框样式 */
    border-radius: 5px;       /* 圆角效果 */
    display: flex;             /* 使用 Flexbox 来对齐内容 */
    align-items: center;       /* 垂直居中内容 */
    overflow-y: auto;         /* 如果内容超出容器，则显示滚动条 */
}

.control-panel {  
    flex: 0 0 15%; /* 占据页面的六分之一高度 */   
    display: flex;  
    flex-direction: column; /* 垂直排列子元素 */  
    justify-content: space-between; /* 在垂直方向上均匀分布子元素 */  
    align-items: center; /* 水平居中子元素 */  
    padding: 5px; /* 可选的内边距 */  
    border-left: 5px solid #613aa1; /* 可选的左侧边框 */  
}  
  
.timer, .question-info{
    flex:0.4
}
.favorite-button, .button-group {  
    flex: 2px; /* 每个元素之间的间距 */  
    align-items: center; /* 水平居中按钮 */
    display: flex; /* 使用 flexbox */
    flex-direction: column; /* 垂直排列按钮 */
}  

.button-group button {  
    margin-top: 10px; /* 按钮之间的垂直间距 */  
}  
  
.favorite-button {  
    border: none;  
    background-color: transparent;  
    cursor: pointer;  
    padding: 10px; /* 可选的内边距 */  
    flex-direction: column; /* 垂直排列子元素 */  
}  
  
.favorite-button[data-favorite="true"] i {  
    color: gold; /* 点击后填充金色 */  
}  