body {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    width: 100px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: width 0.3s;
    position: relative;
}

.navbar.collapsed {
    width: 20px; /* 收缩后的宽度 */
}

.navbar .toggle-container {
    margin-bottom: 10px; /* 给切换按钮与其他按钮之间添加间距 */
}

.navbar button {
    margin: 5px 0;
    padding: 10px;
    color: #fff;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: left;
    transition: opacity 0.3s;
}

.navbar.collapsed button {
    opacity: 0; /* 收缩后隐藏按钮 */
    width: 2px; 
}

.navbar.collapsed button#toggle-btn {
    opacity: 1; /* 保留切换按钮可见 */
}

.navbar button:hover {
    background-color: #555;
}

#toggle-btn {
    background-color: #444; /* 背景色 */
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%; /* 使按钮占满整个宽度 */
}

.quiz-box {
    flex: 1;
    border: 2px solid #333;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none; /* 默认隐藏所有 iframe */
}

.navbar button:disabled {
    
    cursor: not-allowed; /* 鼠标指针变为禁止图标 */
}
