
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* 页面高度占满视口 */
  position: relative;
  background-image: linear-gradient(120deg, rgba(212, 252, 121, 0.4) 0%, rgba(150, 230, 161, 0.4) 100%);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./image/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8; /* 设置透明度 */
  z-index: -1; /* 确保背景在其他内容下面 */
}


@media (max-width: 300px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 301px) and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 501px) {
  body {
    font-size: 16px;  /* 随侧边栏宽度增加而增加字体大小 */
  }
}



#chatbox {
  width: 100%;
  /* top:20px; */
  max-height: 485px; /* 设置最大高度 */
  opacity: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  overflow-y: auto;
}

#message{
  overflow-y: auto;
}

#tool {
  margin-bottom: 5px; /* 工具按钮与输入框之间的间距 */
}

.btn-toolbar {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: flex-end; /* 右对齐 */
}


.fixed-input-area {
  position: fixed; /* 固定定位 */
  bottom: 0; /* 距离底部 0 */
  left: 0; /* 距离左侧 0 */
  right: 0; /* 距离右侧 0 */
  background-color: rgba(255, 255, 255, 1); /* 半透明白色 */
  border-top: 1px solid #ccc; /* 上边框 */
  padding: 10px; /* 内边距 */
  /* z-index: 1000;  */
  /* 确保在其他元素之上 */
  height:140px;
}

.input-group {
  display: flex; /* 使用 Flexbox 布局 */
  width: 100%; /* 宽度 100% */
  margin-bottom: 5%;
  position: relative; /* 设置为相对定位以便放置按钮 */
}


.form-control {
  flex: 1; /* 输入框占据剩余空间 */
  border: 1px solid #ccc; /* 边框 */
  border-radius: 4px; /* 圆角 */
  padding: 15px 50px 15px 15px; /* 增加内边距，右侧留出空间给按钮 */
  height: auto; /* 高度自适应 */
  min-height: 80px; /* 设置最小高度 */
  resize: none; /* 禁止手动调整大小 */
  overflow: hidden; /* 隐藏滚动条 */
}

#send{
  z-index: 1000; /* 确保在其他元素之上 */
  position: absolute; /* 绝对定位以便放在输入框右下角 */
  bottom: 10px; /* 距离底部10像素 */
  right: 10px; /* 距离右边10像素 */
  background-color: #ccc; /* 默认背景颜色为灰色 */
  color: white; /* 按钮字体颜色 */
  border: none; /* 去掉默认边框 */
  border-radius: 50%; /* 圆形按钮 */
  width: 35px; /* 固定宽度 */
  height: 35px; /* 固定高度 */
  display: flex; /* 使用 Flexbox 中心对齐图标 */
  align-items: center; /* 垂直居中 */
  cursor: not-allowed; /*鼠标悬停时显示禁止光标 */
  justify-content: center; /* 水平居中 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
}
#send.enabled {
  background-color: #007bff; /* 有输入时的背景颜色 */
  cursor: pointer; /* 鼠标悬停时显示手型光标 */
  opacity: 1; /* 完全不透明 */
}

#send.enabled:hover {
  background-color: #0056b3; 
  cursor: pointer; /* 鼠标悬停时显示手型光标 */
  opacity: 0.5; /* 完全不透明 */
}



#bottomlogo {
  display: flex;
  justify-content: center;
  /* 在水平方向上居中 */
  flex-direction: row;
  align-items: center;
  /* align-items: flex-end; */
  position: fixed;
  /* 使用固定定位，使其相对于浏览器窗口定位 */
  left: 50%;
  transform: translateX(-50%);
  /* 通过平移来实现水平居中 */
  bottom:2px;
}

#logo2 {
  display: flex;
  width: 10px;
  height: 10px;
  object-fit: contain;
}

#authored-by {
  display: flex;
  font-size: 1rem;
  color: rgb(26 26 95);
  font-weight: bold;
}


#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
}

#logo img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 0px;
}

#logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}



::-webkit-scrollbar {
  width: 8px; /* 滚动条的宽度 */
  height: 8px; /* 横向滚动条的高度 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道的背景色 */
  border-radius: 10px; /* 圆角效果 */
}

::-webkit-scrollbar-thumb {
  
  border-radius: 10px; /* 圆角效果 */
  border: 2px solid #f1f1f1; /* 滑块外边框，增加视觉效果 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c8cbcf; /* 滚动条滑块的颜色 */
}

::-webkit-scrollbar-thumb:active {
  background-color: #a2a3a5; /* 滑块被点击时的颜色 */
}



/* 以上均已改 */


#api-key-note {
  color: rgb(23,74,228);
  font-size: 1.9rem;
  margin-bottom: 3px;
  text-align: center;
}

#messages {
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 5px;
}

.message {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  color: rgb(12, 12, 12);
  font-weight:300;
  border-radius: 5px;
  color: #24292f;
  background-color: rgb(255, 255, 255, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 13px;
  line-height: 1.75;
  word-wrap: break-word;
  word-break: normal;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  float: left;
  margin-left: 10px;
}

.userMessage {
  color: rgb(9, 0, 0);
  font-size: 1.4rem;
  font-weight: bold;
  float: right; /* 使元素浮动到右侧 */
  margin-left: 10px; /* 保持间距 */
  background-color: #ebe58d; /* 设置背景色为淡灰色 */
  padding: 8px; /* 设置内边距 */
  border-radius: 5px; /* 设置边框圆角 */
}

.selectedValue {  
  font-size: 0.7em; /* 缩小字体，这里设置为原始大小的90% */
  background-color: #c8c8ff; /* 设置背景色为淡灰色 */
  font-family: '幼圆', 'Microsoft YaHei', sans-serif; /* 设置字体为幼圆，如果不支持则回退到微软雅黑，最后是无衬线字体作为备选 */
  padding: 5px; /* 添加内边距以保持一致性 */
  margin-bottom: 7px; /* 添加下边距以在.selectedValue和.userMessage之间创建空间 */
  border-radius: 5px; /* 保持圆角一致性 */
  clear: both; /* 清除浮动，确保不会与浮动元素重叠 */ 
}
.aiMessage {
  color: rgb(12, 12, 12);
  font-size: 1.4rem;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  clear: both; /* 清除浮动，确保不会与浮动元素重叠 */
}



#changesize{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  max-height: 25px;
}

#changesizetip{
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 10px;
  /*调节字号大小*/
  border-radius: 3px;
}

#clear-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  max-height: 25px;
}

#clear-buttontip{
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 10px;
  /*调节字号大小*/
  border-radius: 3px;
}

#information{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  max-height: 25px;
}


#retry {
  padding: 5px;
  max-width: 25px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#Copy {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  max-height: 25px;
}

#getpicture {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  max-height: 25px;
}

#getpicturetip {
  display: flex;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 10px;
  /*调节字号大小*/
  border-radius: 3px;
}


#informationtip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 10px;
  /*调节字号大小*/
  border-radius: 3px;
}


#search-select {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 25px; */
  max-height: 25px;
  }


  
/* 使下拉菜单水平对齐 */
#search-select {
  margin-top: 0px;
  position: relative;
  justify-content: center;
  padding: 2px;
  width: 85px;
  height: 25px;
  z-index: 2;
}





.check {
  color: rgb(145, 219, 164);
  text-align: center;
}



#copytip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 10px;
  /*调节字号大小*/
  border-radius: 3px;
}

#retrytip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2px;
  font-size: 10px;
  /*调节字号大小*/
  border-radius: 3px;
}


#div2.fixed{
  position: fixed; /* 固定定位 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
   /* 确保导航栏在最上层 */
  border-bottom: 2px solid #ccc; /* 添加下边框 */
}#loading-container {
  top: 0; /* 距离顶部0 */
  left: 0; /* 距离左侧0 */
  right: 0; /* 距离右侧0 */
  width: 100%;
  /* border-bottom: 3px solid #9dfee0; */
  height: 30px;
  line-height: 30px;  
  background-color: white;
  display: flex; /* 使用 Flexbox */
  justify-content: space-around; /* 自动调整间距以适应页面宽度 */
  align-items: center; /* 垂直居中 */
}

#loading-container ul {
  display: flex; /* 使用 Flexbox 布局 */
  margin: 0;
  justify-content: space-around; /* 自动调整间距以适应页面宽度 */
  padding: 0; /* 去掉默认内边距 */
  height: 100%; /* 高度继承父元素 */
  list-style: none; /* 去掉默认的列表样式 */
}

#loading-container ul li {
  list-style: none;
  font-family: KaiTi;
  font-size: 10px;
  font-weight: bold;
  margin: 0 5px; /* 在每个li之间添加左右间隔 */
}

#loading-container ul li a {
  color: black;
  text-decoration: none;
  padding: 0;
}

#loading-container ul li a:hover {
  color: rgb(39, 153, 235);
}
