
body {
    font-family: 'Microsoft Yahei', 'Tahoma', Arial, sans-serif;
    margin: 0;
    padding: 5px;
    
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    
  }
  
  #main {
    border: 1px solid #ccc;
    margin-top: 10px;
    height: 500px;
  }


.titleContent > div {
  margin: 20px;
}

.title {
  height: 32px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 5px;
  padding-left: 5px;
  position: relative;
  color: #000;
  z-index: 0;
}

.title1 {
  padding-left: 10px;
}

.title1:after {
  content: " ";
  width: 4px;
  height: 20px;
  background: #12a3f5;
  position: absolute;
  left: 0;
  top: 6px;
  border-radius: 2px;
}
.title8 {
  border-radius: 16px;
  border: 1px solid #e8e9fb;
  box-shadow: 0 0 10px #e8e9fb;
  text-align: center;
  width: 80px;
  color: #12a3f5;

  &:before {
      content: "";
      width: 300%;
      height: 2px;
      background: #e8e9fb;
      position: absolute;
      top: 15px;
      left: 100%;
      background: linear-gradient(to right, #e8e9fb, rgba(182, 181, 181, 0));
  }
}

.navbarjustify-content{
  justify-content: space-between;
  display: flex;
  align-items: center;
} 


.custom-navbar {

    height: 30px; /* 调整导航栏高度 */
    font-family: Helvetica,Arial,"Microsoft YaHei",sans-serif;
}

.navbar-brand {
    font-size: 16px; /* 调整字体大小 */
    color: #333; /* 字体颜色 */
    transition: all 0.3s ease;
}

.navbar-brand:hover {
    color: #f9fbfc; /* 浅蓝色 */
    background-color:#009282; /* 背景色变浅 */
    transform: translateY(-3px); /* 轻微上浮效果 */
    padding: 5px; /* 增加一些间距使效果更柔和 */
    border-radius: 3px; /* 圆角 */
}
.form-control me-2{
  width: 700px;
}
.navbar.bg-body-tertiary {
  margin-top: 15px; /* 确保没有额外的顶部外边距 */
  margin-bottom: 0; /* 确保没有额外的底部外边距 */;
}
.Generate{
  height: 80px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 垂直排列 */
    background-color: #f0f0f0; /* 浅灰色背景 */
    position: relative; /* 为了分割线的位置 */
}
.Generate::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px; /* 分割线的高度 */
  background-color:  #00c9b7; /* 分割线的颜色 */
  position: absolute;
  bottom: -2px; /* 分割线与按钮之间的距离 */
  left: 0;
}
.pager{
  bottom: 0px;
  height: 30px;
  display: flex;
  justify-content: flex-end; /* 右对齐 */
    align-items: center;
    background-color: #f0f0f0; /* 浅灰色背景 */
    position: relative; /* 为了分割线的位置 */
    padding: 10px 40px; /* 去掉内边距 */
}
.pager li {
  margin-left: 100px; /* 可选：列表项之间的间距 */
}
.pager2{
  bottom: 0px;
  height: 30px;
  display: flex;
  justify-content: space-between; /* 使两个 li 分开 */
    align-items: center;
    background-color: #f0f0f0; /* 浅灰色背景 */
    position: relative; /* 为了分割线的位置 */
    padding: 10px 40px; 
}
.pager2 li {
  list-style: none; /* 去掉默认列表样式 */
}
.pager3{
  bottom: 0px;
  height: 30px;
  display: flex;
  justify-content: flex-start; /* 左对齐 */
    align-items: center;
    background-color: #f0f0f0; /* 浅灰色背景 */
    position: relative; /* 为了分割线的位置 */
    padding: 10px 40px; /* 去掉内边距 */
}
.pager3 li {
  margin-left: 100px; /* 可选：列表项之间的间距 */
}

#generateSummary{
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: Microsoft YaHei;
  vertical-align: baseline;
  /* display: inline-block; */
  border-radius: 50px;
  background: #00c9b7;
  width: 120px;
  height: 50px;
  position: relative;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 0.094em;
  cursor: pointer;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
  text-align: center;
  margin: 0 auto;
  transition: all 0.5s;
  text-transform: uppercase;
}
#generateSummary:hover {
  transform: translateY(-1px); /* 轻微上浮效果 */
  box-shadow: 0px 0px 0px 0px rgba(00,00,00,0.2);
  padding: 5px; /* 增加一些间距使效果更柔和 */
  border-radius: 50px;
}


#generate-wordcloud{
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: inline-block;
  border-radius: 50px;
  background: #00c9b7;
  width: 120px;
  height: 50px;
  position: relative;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 0.094em;
  cursor: pointer;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
  text-align: center;
  margin: 0 auto;
  transition: all 0.5s;
  text-transform: uppercase;
}
#generate-wordcloud:hover {
  transform: translateY(-1px); /* 轻微上浮效果 */
  box-shadow: 0px 0px 0px 0px rgba(00,00,00,0.2);
  padding: 5px; /* 增加一些间距使效果更柔和 */
  border-radius: 50px;
}

.fa{
  font: FontAwesome 5;
  font-size: 18px;
}
.far{
  font: FontAwesome 5;
  font-size: 20px;
  padding-top: 10%;
  gap: 10px; /* 设置元素之间的间距为 10px */
}


.savephotoButton-container { /* 确保给按钮一个父容器 */
  display: flex;
  justify-content: flex-end; /* 使内容靠右对齐 */
  margin: 0 10px; /* 可以选择性添加外边距 */
}

#savebutton{
  margin: 0 10px;
  border: 1px solid rgb(25, 135, 84); /* 设置边框颜色和宽度 */
  border-radius: 5px; /* 可选：圆角边框 */
  /* padding: 10px; 可选：内边距 */
  background-color: transparent; /* 可选：背景色 */
  color: rgb(25, 135, 84); /* 可选：文本颜色 */
  cursor: pointer; /* 可选：鼠标样式 */
  transition: all 0.3s; /* 可选：过渡效果 */
}
#savebutton:hover {
  background-color: rgba(25, 135, 84, 0.3); /* 可选：悬停时的背景色 */
}
#SearchInput{
  width: 200px;
}

#summary-container {
  text-align: left; /* 左对齐 */
  margin: 20px auto; /* 上下各留20px的空间 */
  max-width: 800px; /* 最大宽度，确保内容不超出 */
  min-height:300px;
  line-height: 1.6; /* 行高，增加可读性 */
  padding: 10px; /* 内边距，增加可读性 */
  border: 1px solid #ccc; /* 可选：边框 */
  border-radius: 5px; /* 可选：圆角 */
  background-color: #f9f9f9; /* 可选：背景色 */
}
